
<nav>
    <div class="nav-wrapper green">
      <a href="#" class="brand-logo"><img src="../images/BB_logo_wht.png" id="nav-logo" alt="" width="300" height="auto"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/user/account">Account</a></li>
        <li>|</li>
        <li><a href="#">About</a></li>
        <li>|</li>
        <li><a href="/user/sign-out">Log Out</a></li>
      </ul>
    </div>
  </nav>

<h3> Welcome back {{ this.dataValues.name}} </h3>

<main class="container">
    <!-- Page Content goes here -->
    <div class="row">
        <div class="col s12 m6">
            <div class="card green">
                <div class="card-content white-text">
                    <span class="card-title">Orders</span>
                    
                </div>
                <div class="card-action">
                    <button class="waves-effect waves-light btn white modal-trigger blue-text text-darken-2" data-target="modal1">Add Order</button>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card green">
                <div class="card-content white-text">
                    <span class="card-title">Categories</span>
                </div>   
                <div class="card-action">
                    <button class="waves-effect waves-light btn white modal-trigger blue-text text-darken-2" data-target="modal2">Add Category</button>
                </div>
            </div>
        </div>
    </div>
</main>

{{!-- <!-- Modal Trigger -->
<button class="waves-effect waves-light btn modal-trigger" data-target="modal1">Modal</button> --}}

<!-- Items modal -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Add an Item</h4>

        <div class="row">
        <form class="col s12">
            <div class="row modal-form-row">
                <div class="input-field col s12">
                    <input id="item-name" type="text" class="validate">
                    <label for="item-name">Item name:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="item-price" type="text" class="validate">
                    <label for="item-price">Price:</label>
                </div>
            </div>
            <div class="row">
            <label>Category</label>
                <select class="browser-default" id = "item-category">
                    <option value="" disabled selected>Choose your category</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
        </form>
        </div>
    </div>
<div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
</div>
</div>

<!-- Categories modal -->
<div id="modal2" class="modal">
    <div class="modal-content">
        <h4>Add an Item</h4>

        <div class="row">
            <form class="col s12">
                <div class="row modal-form-row">
                    <div class="input-field col s12">
                        <input id="category_name" type="text" class="validate">
                        <label for="category_name">Category Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="category_goal" type="number" placeholder="100.00" step="0.01" min="0" max="100,000" class="validate">
                        <label for="category_goal">Amount of money you are looking to spend on this category each week </label>
                    </div>
                </div>
                {{!-- <div class="row">
                <div class="input-field col s12">
                    <textarea id="image_description" type="text" class="materialize-textarea validate"></textarea>
                    <label for="image_description">Description</label>
                </div>
                </div> --}}
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat" data-value = "{{this.dataValues.id}}" id = "cat_submit">Submit</a>
    </div>
</div>







<script src="/js/modals.js"></script>

<ul>
    <li>{{ user }}</li>
    <li>{{ this.firstName }}</li>
    <li> {{ this.lastName }}</li>
    <li> {{ this.username}} </li>
</ul>

