
<nav>
    <div class="nav-wrapper green">
      <a href="/user/home" class="brand-logo"><img src="../images/BB_logo_wht.png" id="nav-logo" alt="" width="200" height="auto"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/calendar">History</a></li>
        <li>|</li>
        <li><a href="/user/home">About</a></li>
        <li>|</li>
        <li><a href="/user/sign-out">Log Out</a></li>
      </ul>
    </div>
</nav>



<div class="container" id="users-name">
    <div class="row">
        <div class="col s12">
           <h3 class="center-align"> Welcome back {{ this.username}} </h3>
        </div>
    </div>
</div>

<main class="container">
    <!-- Page Content goes here -->

    <div class="row light-green lighten-4" id="card-budget">
        <div class="col m3"></div>
        <div class="col s12 m6" id="budget-look">
            <div class="card green">
                <div id="total-budget-card" class="white-text">
                    {{!-- <span class="card-title">Orders</span> --}}
                    <h4 id="remain-budget" class="center-align" data-id="{{this.accountId}}">Remaining Budget: ${{ this.budgetRemaining }}</h4>
                    <p id="start-bud" class="center-align">Starting budget: ${{ this.weeklyBudget }}</p>
                    <p id="spent-bud" class="center-align">Amount spent: ${{ this.weeklyBudgetUsed }}</p>
                </div>
                <div class="card-action">
                    <p class="center-align">
                    <button id="add-cat-btn" class="waves-effect waves-light btn white modal-trigger blue-text text-darken-2" data-target="modal3">Update Account</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col m3"></div>
    </div>



    <div class="row light-green lighten-4" id="card-home">
        <div class="col s12 m6">
            <div class="card green">
                <div class="card-content white-text">
                    <h4 class="center-align">Orders</h4>
                    
                </div>
                <div class="card-action">

                    <p class="center-align">
                        <button id="add-order-btn" class="waves-effect waves-light btn white modal-trigger blue-text text-darken-2" data-target="modal1">Add Order</button>
                    </p>
                    <p class="center-align">
                    <a class="waves-effect waves-light btn white modal-trigger blue-text text-darken-2" id  = "view-orders" data-value = "{{this.userId}}" href = "/view/orders/{{this.userId}}">View Orders</a>
                    </p>
                    
                </div>
            </div>
        </div>



        <div class="col s12 m6">
            <div class="card green">
                <div class="card-content white-text">
                    <h4 class="center-align">Categories</h4>
                </div>   
                <div class="card-action">

                    <p class="center-align">
                        <button id="add-cat-btn" class="waves-effect waves-light btn white modal-trigger blue-text text-darken-2" data-target="modal2">Add Category</button>
                    </p>
                    <p class="center-align">
                    <a class="waves-effect waves-light btn white modal-trigger blue-text text-darken-2" id  = "view-cats" data-value = "{{this.userId}}" href = "/view/categories/{{this.userId}}">View Categories</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


    

</main>

{{!-- <!-- Modal Trigger -->
<button class="waves-effect waves-light btn modal-trigger" data-target="modal1">Modal</button> --}}

<!-- Items modal -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Add an Item</h4>

        <div class="row">
        <form class="col s12">
            <div class="row modal-form-row">
                <div class="input-field col s12">
                    <input id="item-name" type="text" class="validate">
                    <label for="item-name">Item name:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="item-price" type="text" class="validate">
                    <label for="item-price">Price:</label>
                </div>
            </div>
            <div class="row">
                <label>Category</label>
                <select class="browser-default" id = "item-category">
                    <option value="" disabled selected>Choose your category</option>
                    {{#each this.categories}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="row">

            <p>Date for transaction: <input type="text" class="datepicker" size="30"></p>
            </div>
        </form>
        </div>
    </div>
<div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn-flat" data-value = "{{this.userId}}" id = "item_submit">Submit</a>
</div>
</div>

<!-- Categories modal -->
<div id="modal2" class="modal">
    <div class="modal-content">
        <h4>Add a Category</h4>

        <div class="row">
            <form class="col s12">
                <div class="row modal-form-row">
                    <div class="input-field col s12">
                        <input id="category_name" type="text" class="validate">
                        <label for="category_name">Category Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="category_goal" type="number" placeholder="100.00" step="0.01" min="0" max="100,000" class="validate">
                        <label for="category_goal">Amount of money you are looking to spend on this category each week </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat" data-value = "{{this.userId}}" id = "cat_submit">Submit</a>
    </div>
</div>



<!-- Account modal -->
<div id="modal3" class="modal">
    <div class="modal-content">
        <h4>Update Account</h4>

        <div class="row">
            <form class="col s12">
                <div class="row modal-form-row">
                    <div class="input-field col s12">
                        <input id="accountamount" type="text" class="validate" placeholder="100.00">
                        <label for="accountamount">Update Account Budget</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat" data-value = "{{this.userId}}" id = "account-submit">Submit</a>
    </div>
</div>









<script src="/js/modals.js"></script>

